body {
  background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)),url("image2/Janmashtami1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5%;
}
h1{
text-align: center;
font-size: 200%;
color: black;
}
.row{
  display: flex;
  height: auto;
  align-items: center;
}
.col{
  flex-basis: 50%;
}
.col2{
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: justify;
  margin: 10px;
  padding: 20px;
  text-indent: 20px;
  font-size: 120%;
  font-family: Times New Roman;
}
.col1{
  align-items: center;
  text-align: center;
}
button{
  width: 180px;
  background-color: #000;
  border: .5px solid crimson;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
  outline: none;
  margin-top: 30px;
margin-left:auto;
margin-right:auto;
 display:block;
 cursor: pointer;
}
h3{
  font-size: 100%;
  border: 1px solid white;
  background-color: white;
}
@media only screen and (max-width: 768px) {
  body{
    width: 90%;
}
.row{
  display: block;
}
  .col1{
    width: 80%;
  }
  .col2{
    width: 80%;
    height: auto;
  }
}
